<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>

<Row>
<% ['PRODUCTO',  'SERVICIO',' DESTINO/COMUNA',  'PESO',  'DESTINATARIO',  'CALLE', 'NUMERO',  'COMPLEMENTO', 'REFERENCIA',  'ALTO', ' ANCHO', 'LARGO', 'CARGOEMPRESA',  'VALOR', 'CASILLA', 'EMAIL', 'CELULAR', 'ENTREGAOFICINA',  'INFOADICIONAL', 'AGRUPADA',  'AGRTOTALPIEZAS',  'AGRPIEZANUMERO', 'EMPRESA', 'DESTINATARIOSECUNDARIO'].each do |hd| %>
  <Cell><Data ss:Type="String"><%= hd %></Data></Cell>
<% end %>
</Row>
<%  @orders.each do |data| %>
  <Row>
  <% order = data['data']; address = data['address'] %>
  <% ['3', '3', address[1], '1,2', order["_embedded"]["contact"]["name"], address[0], "", "", "", '11', '26', '29', '', '', '', ''  ].each do |col| %>
  <Cell><Data ss:Type="String"><%= col %></Data></Cell>
  <% end %>
  </Row>
<% end %>
  </Table>
  </Worksheet>
</Workbook>

